<!-- Editor sayfası -->
{% extends "layout.html" %}
{% load static %}


{% block title %} Editor {% endblock title %} Editor

{% block content %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}

    <input id="submitButton" type="submit" value="Submit">
</form>
<div>
    <a href="{% url 'publishDraft' draft.draft_id %}" class="btn btn-primary"> Yayınla </a>
</div>

<div class="advice-div">

</div>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<!-- Get Advice -->
<script type="text/javascript" src="{% static 'js/getAdvice.js' %}"> </script> <!-- Static dosyaları düzenledikten sonra artık veri çekemiyorsun ona bak -->
<!-- Tags -->
<script type="text/javascript" src="{% static 'js/getAdvice.js' %}"> </script> <!--Regex yöntemine bak, tag'ler için session kullanacağım alternatif bulamadıkça bunu deneyeceğim-->
<!-- 
<script>
    // const id = window.location.pathname.split('/').pop();
    

    
</script> -->
{% endblock content %}