<!-- Yazar Sayfası (giriş yapılmış)-->
{% extends 'layout.html' %}

{% load static %}

{% block title %} Yazar Paneli {% endblock title %}  

{% block content  %}

      <div class="container">

        <div class="carousel slide" id="slider" data-bs-interval="false">
            <ol class="carousel-indicators">
                <li data-bs-target="#slider" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#slider" data-bs-slide-to="1"></li>
            </ol>
    
            <div class="carousel-inner rounded-3">
                <div class="carousel-item active">
                    <img src="/img/header3.jpg" class="d-block w-100" alt="">
    
                    <div class="carousel-caption">
                        <div class="profile-image-container">
                            <img src="{{profile.picture.url}}" alt="picture" width="200px">
                        </div>
                        <div class="profile-name">
                            <h2 class="text-center"> {{profile.user.first_name}} {{profile.user.last_name}}
                                <button type="button" id="follow-btn" class="profileBtn"  data-bs-target="#modal"
                                data-bs-toggle="modal">
                                    <i class="fa-solid fa-xs fa-user-pen"></i>
                                  </button>
                              </h2>
    
                            <div class="d-flex justify-content-center">
                              <div class="me-3 p-0">
                                <h6>10 <a href="#">Takipçi</a></h6> 
                                
                              </div>
                              <div>
                                <h6>22 <a href="#">Yazı</a></h6> 
                              
                              </div>
                            </div>
                            
                          </div>
    
                      </div>
                </div>
                <div class="carousel-item">
                    <img src="/img/header3.jpg" class="d-block w-100" alt="">
                    <div class="carousel-caption">
                        {{profile.about}}
                        {{profile.contact}}                   
    
                    </div>
                </div>
    
                <a href="#slider" class="carousel-control-prev" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a href="#slider" class="carousel-control-next" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>
    
            </div>
        </div>
    
        <!-- yazılar-->
        <div class="row mt-2 g-5">
            <div class="col-md-8">
              
          <div class="info rounded-3 mt-4 p-4">
              <div class="">
                 <h3><a href="/yazılarım">Yazılarım</a></h3>
                 <hr>
    
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-4 mt-3 text-center">
                            <img src="img/resim.jpg" class="img-fluid" style="height: 150px; width: 150px;" alt="">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-text bold-large"><a href="#">Metin Başlığı</a></h5>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, ducimus dolor. Officia aperiam, eaque voluptates aspernatur voluptatibus excepturi reprehenderit necessitatibus corporis magni delectus atque at, corrupti distinctio quidem? Quibusdam, distinctio?</p>
                                <button type="button" class="btn bookmark"><i class="fa-regular fa-bookmark fa-lg" style="color: #000000"></i></button>                      
                                <a href="" class="text-edit"><i class="fa-regular fa-pen-to-square fa-lg" style="color: #000000;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
      <div class="card mb-3">
                    <div class="row">
                        <div class="col-4 mt-3 text-center">
                            <img src="/img/1.png" class="img-fluid" style="height: 150px; width: 150px;" alt="">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-text bold-large"><a href="#">Metin Başlığı</a></h5>
                                <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, ducimus dolor. Officia aperiam, eaque voluptates aspernatur voluptatibus excepturi reprehenderit necessitatibus corporis magni delectus atque at, corrupti distinctio quidem? Quibusdam, distinctio?</p>
                                <button type="button" class="btn bookmark"><i class="fa-regular fa-bookmark fa-lg" style="color: #000000"></i></button>                      
                                <a href="" class="text-edit"><i class="fa-regular fa-pen-to-square fa-lg" style="color: #000000;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
    
                </div>   
      
          </div>
            </div>

                    
      <!---------- Hakkında ------------>
      <div class="row mt-2 g-5">
        <div class="col-md-8">
            <div class="info rounded-3 mt-4 p-4">
              <div class="d-flex align-items-center">
                <h3 class="flex-grow-1">Hakkında</h3>
                <button id="edit-btn" class="btn btn-primary">Düzenle</button>
              </div>
              <hr>
              <p id="about-text">Kendin hakkında bahset.</p>
            </div>
          </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>blog Yazılarım</h1>
                <hr>
                <Table>
                    <thead>
                        <tr>
                            <td>numara</td>
                            <td>başlık</td>
                            <td>işlemler</td>
                        </tr>
                    </thead>
                    <tbody>
                            {% for blog in blogs %}
                            <tr>
                            <td>{{blog.draft_id}}</td>
                            <td>{{blog.title}}</td>
                            <td>
                                <a href="{% url 'editor' blog.draft_id %}" class="btn btn-primary">Düzenle</a>
                                <a href="{% url 'delDraft' blog.draft_id %}" class="btn btn-danger">Sil</a>
                            </td>
                            </tr>
                             {% endfor %}
                            <tr>
                                <a href="{% url 'newDraft' %}" class="btn btn-secondary">Yeni Yazı</a>
                            </tr>
                    </tbody>
                </Table>
                
            </div>
        </div>
    </div>

{% endblock content %}




