{% load static %}
{% if user.is_authenticated %}
<!-- Giriş Yapıldığında Navbar -->

<nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
        <a href="#anasayfa">  <!-- link ekleyemedim ekleyince bozuluyor-->
            <img src="{% static 'img/logo2.png' %}" alt="Logo">
        </a>

        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample" aria-label="Sidebar'ı açar">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">


            <!-- Search -->
            <form action="{% url 'search' %}" method="GET" class="form-search" role="search" id="search">
                <input class="form-control" name="q" type="search" placeholder="Arama yap" aria-label="Search">
            </form>                 

            <ul class="navbar-nav">
                

                <li class="nav-item">
                    <a class="nav-link" href="#" aria-label="Yazmaya Başla">
                        <i class="fa-regular fa-pen-to-square fa-lg"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" aria-label="Bildirimler">
                        <i class="fa-regular fa-bell fa-lg"></i>
                    </a>
                </li>

            </ul>

            <!--Profil iconu -->
            <div class="dropdown me-4">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{% static 'img/profil.png' %}" alt="profil" class="btnProfile">
                </a>

                    <ul class="dropdown-menu dropdown-menu-end">

                        <li>
                            <a class="dropdown-item" href="{% url 'search' %}">
                                <i class="fa-regular fa-bookmark fa-sm"></i>
                                &nbsp;Yer İşaretleri
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'settings' %}">
                                <i class="fa-solid fa-gear fa-sm"></i>
                                &nbsp;Ayarlar
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'panel' %}">
                                <i class="fa-regular fa-bookmark fa-sm"></i>
                                &nbsp;Panel
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="fa-solid fa-right-from-bracket fa-sm"></i>
                                &nbsp;Çıkış yap
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
</nav>

                    
{% else %}

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a href="#anasayfa">
            <img src="{% static 'img/logo2.png' %}" alt="Logo">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample" aria-label="sidebar'ı aç">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarNav">


            <!-- Search -->

            <form action="{% url 'search' %}" class="form-search" role="search" id="search">
                <input name="q" class="form-control " type="search" placeholder="Arama yap" aria-label="Search">
            </form>

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">
                        Hakkımızda
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">
                        İletişim
                    </a>
                </li>

                <li class="nav-item">
                    <div class="ms-auto d-flex">
                        <a href="{% url 'login' %}" type="button" class="btn btnG me-4">
                            Giriş Yap
                        </a>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="ms-auto d-flex">
                        <a href="{% url 'register' %}" type="button" class="btn btnG me-4">
                            Kayıt ol
                        </a>
                    </div>
                </li>

            </ul>

        </div>
</nav>


{% endif %}

