{% extends "layout.html" %}

{% block content %}

 {% if form.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p> Please correct the errors below </p>
        </div>
        
    {% endif %}
    <h1> Register </h1>
    <br>

    <form action=" {% url 'register' %} " method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Register">
    
    </form>
    

    
    
{% endblock  %}