@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Urbanist', sans-serif;
    overflow-x: hidden;
    padding: 70px;
    background-color: #f8f9fa;
}

a{
    text-decoration: none;
    color: currentColor;

}

a:hover{

    color: currentColor;

}

a[href="#anasayfa"] img {
  width: 170px ; 
  height: 42px; 
  display: inline-block;
  vertical-align: top;
  margin-left: 1rem;
 
}

.form-search {
  width: 300px;
  margin-right: auto;
  margin-left: 15px;
  display: flex;
}

.navbar {

    width: 100vw;
    height: 70px;
    background: linear-gradient(98.24deg, #e7eafb 0%, #89bbcc 100%);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.custom-modal-dialog {
    max-width: 400px;
    height: 600px;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-title {
    margin-left: 15px;
    margin-right: 15px;
    
}

.modal-body {
  margin-left: 15px;
  margin-right: 15px;
  
}

label[for="password"] {
  margin-top: 0.5rem;
}

.k1 {

display: flex;
align-items: center;
justify-content: space-between;
margin-top: 1rem;

}

.k2 {

  display: flex;
  justify-content: center;
}

.k3 {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.nav-item .btn {
  border-radius: 50px;
  margin-right: 1.5rem;
}

.nav-link {
    color: black;
    display: inline-block;
    margin-right: 15px;
    flex: unset;
}

.btnRenk {
  background: linear-gradient(98.24deg, #e7eafb 0%, #a2d3e3 100%);
}


.btnG {
 
  background: linear-gradient(98.24deg, #e7eafb 0%, #a2d3e3 100%);
    
}

.btnG:hover {

  background: linear-gradient(98.24deg, #a2d3e3 0%, #e7eafb 100%);

}

.btnY {
  text-align: center;
  margin-top: 30px;
  
}
.btnY button {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}


.card {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 20%);
}


.btnProfile {
    width: 40px; 
    height: 40px;
    border-radius: 50%;

}


#search-btn {
  padding: 0 3px;
  width: 33px;
  height: 35px;
 
}

.button:focus{
    outline: none;
  }

  .logo {
    width: 200px;
    height: auto; 
    display: block; /* İçeriği merkezlemek için blok seviyesinde ayarla */
    margin-left: 20px; 
  }
  

  .offcanvas {
    max-width: 310px;
  }
  

.offcanvas-header .btn-close {

    background: transparent;
    opacity: 1;
    
}

.offcanvas-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;

  }
  
  .offcanvas-menu-item {
    margin-bottom: 15px;
  }

  .offcanvas-menu-item:hover {
    
    color: #a2d3e3;
  }
  
  .offcanvas-menu-link {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    font-size: 16px;
    
  }
  

  .offcanvas-menu-link:hover {

    color: #a2d3e3;
    
  }

  .offcanvas-header {
    padding-right:50px;
  }
  
  .offcanvas-body {
  
    padding-left: 35px;
  }

  .offcanvas-menu-item form {
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: -10px;
  }
  
  .offcanvas-menu-item form .btn {
    outline-width: 10px;
  }
  
  .offcanvas-menu-item form .form-control {
    margin-right: 1rem;
  }
  

  .container {
    margin-top: 45px;
  }


#logo1 {
  margin-left: 50px;
  margin-top: 100px;
  max-width: 100%;
  height: auto;
  width: 250px;
}

#logoG {
  margin-left: 50px;
  margin-top: 80px;
  max-width: 100%;
  height: auto;
  width: 250px;
}

.bold-large {
  font-weight: bolder;
  font-size: larger;
}

#searchSidebar {

  width: 200px;
}

.carousel {
  border-radius: 10px; /* Çalışmıyor? */ 
  width: 100%;
}

.carousel-caption {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-name {

  margin-top: 1rem;
}

.carousel-caption h2, h4, h6 {
  margin-bottom: 1rem;
  color: black;
}

.carousel-caption #bio {
  margin-bottom: 2rem;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profileBtn {
  background-color: transparent;
  border: none;
  padding: 1;
  
}

@media (max-width: 576px) {
  .img-fluid {
    display: none;
  }
}

.info { 
  background-color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 20%);
  border-radius: 8px;
  padding: 16px;
  margin-top: 22px;
  margin-bottom: 20px;
}

.list-unstyled {
  margin-left: 10px;
  margin-top: 7px;
}

.bookmark {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 7px;

}

.text-edit {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 15px;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.update {
  background-color: #4caf50;
  margin-right: 10px;
}

.update:hover {
  background-color: #5bbd5e;
}

.cancel {
  background-color: #f44336;
}

.cancel:hover {
  background-color: #f56056;
}

.profile-picture-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profile-picture-container img {
  width:50px;
  height:50px;
  object-fit: cover;
}

.profile-picture-container input[type="file"] {
  opacity: 0;
  width:50px;
  height:50px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

#content {
  margin-top: 5px;
  height: 600px;
}

#content2 {
  margin-top: 88px;
  height: 107px;
}

.publish {

  background-color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 20%);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 8px;
}

.publish .form-group {
  margin-top: 30px;
  margin-right: 30px;
}

.suggestion { 
  background-color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 20%);
  border-radius: 8px;
  padding: 16px;
  margin-left: 35px;
  margin-top: 31px;
}

.editor {

  background-color: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 20%);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
}

.profile-image2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 10px;
}

.author-details {
  margin-top: 10px;
  margin-left: 35px;
}

.stats p {
  display: inline-block;
  margin-right: 2px;
}

.stats .separator {
  display: inline-block;
  margin: 0 5px;
  border-left: 1px solid #000;
  height: 10px;
  vertical-align: middle;
}

.author-info { 
  border: 1px  black;
  border-radius: 8px;
  padding: 16px;
  margin-left: 35px;
  margin-top: 75px;
}

.blog-info p {
  display: inline-block;
  margin-right: 10px;
}

.stil1 {
  color: #8cbdce;
  font-weight: 600;
  text-shadow: 0 0 1px rgb(46, 46, 87);
}

.stil2 {
  color: #8cbdce;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  text-shadow: 0 0 1px rgb(46, 46, 87);
}

/* Hakkında */
#edit-btn {
  display: flex;
  justify-content: left;
}

/* anasayfa */

.follow-author {

  display: flex;
  align-items: center;
  margin-bottom: 2px;
  margin-top: 15px;
}

/* yorum */

.comment {
  word-wrap: break-word;
}

.comment .profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.card-text {
  white-space: normal;
  word-break: break-word;
}

.btnT {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
}

.btnT i {
  font-size: 2rem;
}