<!-- Blog Sayfası -->
{% extends 'layout.html' %}

{% load static %}

{% block title %} Blog {% endblock title %}

{% block content %}

  <!-- İçerik -->

  <div class="container publish">
    <div class="row">
      <div class="col-lg-8 pt-4">
        <!-- Blog Yazısı -->
        <div class="blog-entry">
          <h2> {{ blog.draft.title }} </h2>
          <hr>
          <div class="">
            <img src="{{ blog.banner.url }}" class="w-50" alt="">
          </div>
          <div class="mt-5">
            {{ blog.draft.content|safe }}
          </div>

          <div class="blog-info">
            <p>
                <i class="fa-regular fa-comment" style="color: #000000;"></i> 
                <div>
                  {% if comments %}
                  {% for comment in comments %}
                      {{ comment.user_id }} {{ comment.date }}<br> {{ comment.message }} 
                      {% if user.is_authenticated and user == comment.user_id %}
                          <form action="{% url 'commentAction' 0 comment.id %}" method="POST">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-sm btn-danger">Sil</button>
                          </form>
                      {% endif %}
                      <br> <br> <br>
                  {% endfor %}
                  {% else %}
                      <p> Henüz Bir Yorum Yok </p>
                  {% endif %}
                  
                  {% if user.is_authenticated %}
                      <form action="{% url 'commentAction' blog.id %}" blog method="POST">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <input type="submit" value="Yorum">
                      </form>
                  {% else %}
                      <p> Yorum yapmak için giriş yapmalısınız </p>
                  {% endif %}
                  </div>
            </p>
            <p>
                <i class="fa-regular fa-heart" style="color: #000000;"></i>
                <div>
                  {% if user.is_authenticated %}
                      <form action="/blog/{{ blog.id }}/like" method="post">
                          {% csrf_token %}
                          <button class="btn btn-primary btn-sm" type="submit" name="blog_id" value="{{ blog.id }}"> {{ blog.total_likes }} beğen </button>
                      </form>
                  {% else %}
                      <p> Yazıyı beğenmek için giriş yapmalısınız </p>
                  {% endif %}
                </div>
            </p>
          </div>
        </div>
      </div>
    
      <!-- Yazar bilgileri -->
      <div class="col-lg-4">
        <div class="sticky-top">
          <div class="author-info">
            <div class="author-profile">
              <div class="profile-info" style="display: flex;">
                <img src="{{ blog.author.picture.url }}" class="profile-image2" alt="Profil Resmi">
                <div class="author-details">
                  <h5><a href="{% url 'profilebyid' blog.author.id %}">{{ blog.author.user.first_name }}  {{ blog.author.user.last_name }}</a></h5>
                  <div class="stats">
                    <p><a href="#"> {{ blog.author.follower_count }} Takipçi </a></p>
                    <span class="separator"></span>
                    <p><a href="#"> {{ blog.author.blog_count }} Yazı </a></p>
                  </div>
                </div>          
              </div>
              <hr>
              <div class="about">
                <p> {{ blog.author.about }} </p>
                <p> {{ blog.author.contact }} </p>
            </div>
            <form action="{% url 'followAction' blog.author.id %}">
              {% csrf_token %}
              <button type=submit class="btn btn-primary"> {{button_name}} </button>
            </form>
            
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </div>

    <!-- Yorumlar -->

    <div class=" publish mt-5">
      <h1>Yorumlar</h1>
    
      <!-- Yorum Formu -->
      <form id="comment-form">
        <div class="mb-3">
          <textarea class="form-control" id="comment" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Yorum Yap</button>
      </form>
    
      <hr>
    
      <!-- Yorumların Listesi -->
      <div id="comment-list" class="row"></div>
    </div>

{% endblock content %}