{% extends 'layout.html' %}

{% load static %}

{% block title %} Blog {% endblock title %}

{% block content %}

 <!--İçerik-->

 <div class="container publish">
    <h1>İletişim Formu</h1>
    <form action="#" method="POST">
        <div class="row mt-5">
          <div class="col-md-6 mb-3">
            <label for="name" class="form-label">Adınız</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email" class="form-label">E-posta Adresiniz</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
        </div>

        <div class="row">
        <div class="mb-3">
          <label for="subject" class="form-label">Konu</label>
          <input type="text" class="form-control" id="subject" name="subject" required>
        </div>
    </div>
        <div class="mb-3">
          <label for="message" class="form-label">Mesajınız</label>
          <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btnRenk float-end">Gönder</button>
      </form>
      
  </div>

{% endblock content %}