<!-- 
http://127.0.0.1:8000/author/myblogs
-->
{% extends "layout.html" %}

{% block content %}

    <h1> My Blogs </h1>
    {% for post in blogs %}
    {{ post.title }} <a href="/blog/{{post.slug}}" > {{ post.slug }} </a> {{ post.draft.id }} {{ post.id }} {{ post.tags.all.name }} <a href=" {% url 'update-draft'  post.slug %} "> Update </a>
    <a href=" {% url 'delete'  post.id %} "> delete </a> <br>
    <p> tags: {% for tag in post.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %} </p> <br>
    {% if post.banner %}
    <img src=" {{ post.banner.url }} " width=50px height=50px > <br>
    {% else %}
    <img src=" {{ post.banner }} " width=50px height=50px > <br>
    {% endif %}
    {% endfor %}
   
{% endblock %}


