<!-- 
http://127.0.0.1:8000/author/panel
-->
{% extends 'layout.html'%}

{% block content %}

<script>
$(document).ready(function() {
    $('#update').on('submit', function(event) {
    event.preventDefault();
    
    // Form verilerini FormData nesnesi olarak toplayın

    if ($("[name='action'][value='update']").is(":focus")) {
             $.ajax({
        url: '{% url "updateauthor" %}',
        type: 'POST',
        data: "merhaba",
        processData: false,
        contentType: false,
        success: function(response) {
            $('#goster').html(response.htmlresponse);
        },
        error: function(xhr, status, error) {
            console.log(xhr.responseText);
        }
        });
    }
     
   
  });

  $('#updateuser').on('submit', function(event) {
    event.preventDefault();
    
    // Form verilerini FormData nesnesi olarak toplayın

    if ($("[name='action'][value='update']").is(":focus")) {
             $.ajax({
        url: '{% url "updateuser" %}',
        type: 'POST',
        data: "merhaba",
        processData: false,
        contentType: false,
        success: function(response) {
            $('#goster').html(response.htmlresponse);
        },
        error: function(xhr, status, error) {
            console.log(xhr.responseText);
        }
        });
    }
     
   
  });


});



</script>

<div id="goster">
<h1> Panel </h1>
     takipçiler: {{ followers_count }} takip edilenler: {{ followings_count }} <br>
    {{ author.first_name }} {{ author.last_name }} <br>
    {{ author.email }} <br>
    {{ author.user.username }} <br>
    <form id="updateuser" method="POST">
    {% csrf_token %}
    <button type="submit" name="action" value="update" class="btn btn-secondary">update user</button>
    </form>
    <br>

    <form id="update" method="POST">
    {% csrf_token %}
    <button type="submit" name="action" value="update" class="btn btn-secondary">update author</button>
    </form>
</div>

{% endblock content %}

