<!--  
http://127.0.0.1:8000/author/update/draft/67ed3ed1-2ff3-4ea2-a7e1-06ec945ff6ab
-->

{% extends "layout.html" %}

{% block content %}

<script>
$(document).ready(function() {
   
$('#draft-form').on('submit', function(event) {
    event.preventDefault();

    // Form verilerini FormData nesnesi olarak toplayın
    var form_data = new FormData(this);

    // Draft ID değerini de FormData nesnesine ekleyin
    var draft_id = $('#draft-id').val();
    form_data.append('draft_id', draft_id);
    

    if ($("[name='action'][value='publish']").is(":focus")) {
             $.ajax({
        url: '{% url "publish4" %}',
        type: 'POST',
        data: form_data,
        processData: false,
        contentType: false,
        success: function(response) {
            $('#goster').html(response.htmlresponse);
        },
        error: function(xhr, status, error) {
            console.log(xhr.responseText);
        }
        });
    }
     else {
            this.submit();
        }
   
  });

});



</script>




<div id="goster">
<h2>Editor</h2>
{{ draft.id }}
<div class="row">
<div class="col-md-9">
    <form id="draft-form" method="POST">
    {% csrf_token %}
    <div class="form-group">
        {{ form.title }}
    </div>
    <div class="form-group">
        {{ form.media }}
        {% load widget_tweaks %}
        {{ form.text|attr:"id:id_content" }}
    </div>
    <button type="submit" name="action" id="draft-id" value="{{ draft.id }}" class="btn btn-secondary"> Save </button>
    <button type="submit" name="action" value="publish" class="btn btn-success"> Publish </button>
    </form>
    <br>
    
    
    
</div>
</div>
</div>

{% endblock %}
